.container {
	display: table;
	width: 100%;
	max-width: 100rem;
	min-height: 100vh;
	margin: 0 auto;

	&__inner {
		display: table-cell;
		vertical-align: middle;
		padding: 10rem 2rem;
	}
}

.letter__container {
	display: inline-block;
	width: 33%;
	text-align:center;
}