// CONTAINER
.container {
	display: table;
	width: 100%;
	max-width: 100rem;
	min-height: 100vh;
	height: 0;
	margin: 0 auto;

	&__inner {
		display: table-cell;
		vertical-align: middle;
		padding: 10rem 2rem;

		.content:first-of-type {
			padding-top: 10rem;
		}

		&--about {
			padding: 30rem 2rem;
		}

		&--single {
			position: relative;
			padding: 20rem 2rem;
		}
	}
}

//LETTER CONTAINER
.letter__container {
	display: inline-block;
	width: 33%;
	text-align:center;
}

// MAIN

main {
	background-color: $white;
	color: $black;
	transition: background-color 1.2s cubic-bezier(.4,0,0,1);

	&.is-black {
		background-color: $black;
		color: $white;
		transition: background-color 1.2s cubic-bezier(.4,0,0,1);
	}
} 


// CONTENT
.content {
	&-col {
		&__item {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			height: 100%;
			@include no-inline-block-margin();
		}
	}

	& + .content {
		margin-top: 6rem;
	}

	h1 + p,
	h2 + p,
	h3 + p {
		margin-top: 6rem;
	}

	.data + p {
		margin-top: 0;
	}
}