.content {
	&-col {
		background-image: url('../assets/images/shape.png');
		background-position: 0 0;

		&__image {
			text-align: center;

			img {
				max-width: 22rem; 
			}
		}
	}
}

.plan {
	display: block;
	margin: 0 auto;
	max-width: 67rem;
}
