.datas {
	position: absolute;

	&__wrapper {
		position: relative;
		width: 100%;
		height: calc(100vh - 40rem);
	}

	&-name {
		margin-top: 0;
	}

	&--01{
		top: 0;
		left: 0;
	}

	&--02{
		top: 0;
		right: 0;
	}

	&--03{
		bottom: 0;
		left: 0;
	}

	&--04{
		bottom: 0;
		right: 0;
	}
}