{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ecmaFeatures": {
        "classes": true,
        "forOf": true,
        "es6": true,
        "blockBindings": true
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "semi": 1,
        "no-multiple-empty-lines": [2, {"max": 6, "maxEOF": 0}],
        "no-var": 1,
        "no-unused-vars": 0,
        "no-undef": 0,
        "no-console": 0,
        "curly": 2,
        "vars-on-top": 2,
        "brace-style": [2, "1tbs", { "allowSingleLine": false }],
        "camelcase": [2, {"properties": "always"}],
        "block-spacing": [2, "always"],
        "array-bracket-spacing": [2, "never"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "space-before-blocks": 2,
        "keyword-spacing": 2
    },
    "globals": {
        "THREE": true,
        "React": true,
        "Vue": true,
        "TimelineLite": false,
        "TimelineMax": false,
        "TweenLite": false,
        "TweenMax": false,
        "Back": false,
        "Bounce": false,
        "Circ": false,
        "Cubic": false,
        "Ease": false,
        "EaseLookup": false,
        "Elastic": false,
        "Expo": false,
        "Linear": false,
        "Power0": false,
        "Power1": false,
        "Power2": false,
        "Power3": false,
        "Power4": false,
        "Quad": false,
        "Quart": false,
        "Quint": false,
        "RoughEase": false,
        "Sine": false,
        "SlowMo": false,
        "SteppedEase": false,
        "Strong": false,
        "Draggable": false,
        "SplitText": false,
        "VelocityTracker": false,
        "CSSPlugin": false,
        "ThrowPropsPlugin": false,
        "BezierPlugin": false
    }
}
