.font__logo {
	font-family: $font-black;
	font-size: 20rem;
	line-height: 1.2;
}

// TITLES
.title-1 {
	font-family: $font-black;
	font-size: 5rem;
	line-height: 1.4;
}

.title-2 {
	font-family: $font-semibold;
	font-size: 3.6rem;
	line-height: 1.4;
}


// TEXT
.text-1 {
	font-family: $font-semibold;
	font-size: 1.6rem;
	line-height: 2.3;
}

// CUSTOM
.content {
	font-family: $font-regular;
	font-size: 2.2rem;
	line-height: 1.6;
}

.dashboard-list {
	font-family: $font-regular;
	font-size: 1.6rem;
	line-height: 1.4;

	&__username {
		font-family: $font-semibold;
	}
}

.axidraw-status {
	font-family: $font-semibold;
	font-size: 2.2rem;
	line-height: 1.4;
}