.font__logo {
	font-family: $font-black;
	font-size: 20rem;
	line-height: 1.2;
}

// TITLES
.title-1 {
	font-family: $font-black;
	font-size: 5rem;
	line-height: 1.4;
}

// TEXT
.text-1 {
	font-family: $font-semibold;
	font-size: 1.6rem;
	line-height: 2.3;
}