/*******************/
/* # Media Queries */
/*******************/

/* https://github.com/sass-mq/sass-mq */

$mq-breakpoints: (
	mobile: 640px,
	tablet: 768px,
	desktop: 1024px,
	wide: 1366px,
	xlarge: 1440px
);



/****************/
/* # Variables */
/****************/

// Fonts
$font: sans-serif !default;
$font-regular: 'PoppinsRegular', sans-serif;
$font-semibold: 'PoppinsSemibold', sans-serif;
$font-bold: 'PoppinsBold', sans-serif;
$font-black: 'PoppinsBlack', sans-serif;

// Colors
$black: #000;
$grey: #E0E0E0;
$white: #fff;

$c-notready: #D0021B;
$c-ready: #7ED321;
$c-inprogress: #F5A623;

$body-text: #212121;
